@model HomeVM
<a asp-controller="Login" asp-action="Index"></a>
<div style="background-color: beige;">
    <h2>Blog</h2>
    @foreach (var obj in Model.Blogs.OrderBy(u => u.DisplayOrder))
    {
        <li>
            <a asp-area="Client" asp-controller="Blog" asp-action="BlogDetails">
                <div>
                    <p>@obj.Image</p>
                    <p>@obj.Title</p>
                </div>
            </a>
        </li>
    }
</div>
<hr />
<div style="background-color: beige;">
    <h2>Photos</h2>
    <tbody>
        @foreach (var photo in Model.Photos.OrderBy(u => u.DisplayOrder))
        {
            <tr>
                <td>@photo.PhotoId</td>
                <td>@photo.FilePath</td>
                <td>@photo.DisplayOrder</td>
            </tr>
        }
    </tbody>
</div>
<hr />
<div style="background-color: beige;">
    <h2>Photos</h2>
    <tbody>
        @foreach (var obj in Model.Bands.OrderBy(u => u.DisplayOrder))
        {
            <tr>
                <a asp-area="Client" asp-controller="Band" asp-action="BandDetails">
                    <div>
                        <p>@obj.Image</p>
                        <p>@obj.Title</p>
                    </div>
                </a>
            </tr>
        }
    </tbody>
</div>