@model List<Photo>

<h2>Edit Photo</h2>
<div class="col-1">
    <a asp-controller="Photo" asp-action="Index" class="btn btn-outline-secondary form-control">Back to
        Photo</a>
</div>
<br />
<div class="col-1">
    <a asp-controller="Admin" asp-action="Index" class="btn btn-outline-secondary form-control">Back to
        Admin</a>
</div>
<br />

<div class="col-6">
    <a asp-controller="Photo" asp-action="Upload" class="btn btn-primary form-control">Upload</a>
</div>
<hr />


@foreach (var obj in Model.OrderBy(u => u.DisplayOrder))
{
    <li>
        @* <a asp-controller="" asp-action=""> *@
        <div>
            <a asp-controller="Photo" asp-action="Delete" asp-route-id="@obj.PhotoId"
                style="width: 20px; background-color: firebrick;">X</a>
            <a asp-controller="Photo" asp-action="Edit" asp-route-id="@obj.PhotoId"
                style="width: 50px; background-color: rgb(178, 164, 34);">Edit</a>
            <p>@obj.Image</p>
            <p>@obj.Category</p>
            <p>@obj.UploadTime</p>
        </div>
        @* </a> *@
    </li>
}